In [2]:
#imports
import pandas as pd

# Create a connection to the db instance on AWS RDS

In [1]:

#!pip install mysql-connector-python
import config  # contains all of the credentials and endpoint URLâ€™s that you don't want to store it as a plain text in your code.
import mysql.connector
from mysql.connector import errorcode
from sqlalchemy import create_engine
from sqlalchemy import create_engine
    
#connect to mysql server
cnx = mysql.connector.connect(
        host = config.HOST,
        user = config.USER,
        password = config.PASSWORD)
cursor = cnx.cursor(buffered=True)

In [3]:
print(cursor)

CMySQLCursorBuffered: (Nothing executed yet)

In [ ]:
#You should collect this information when you set up the db instance on AWS RDS.
#You can store this information in a config.py file and use accordingly

#USER = 'admin'
#PASSWORD = 'hiePv8UDHzmR3Sv'
#HOST = 'database-1.cjhx4yysfuzh.us-east-1.rds.amazonaws.com'
#PORT = '3306'
#-------------------------
#db_NAME = 'StockMarketData'  # this is a database you create to store data as follow

# Creat a database

In [4]:
def create_database(cursor, database):
    try:
        cursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(database))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)

In [5]:
db_name = 'StockMarketData'
try:
    cursor.execute("USE {}".format(db_name))
except mysql.connector.Error as err:
    print("Database {} does not exists.".format(db_name))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor, db_name)
        print("Database {} created successfully.".format(db_name))
        cnx.database = db_name
    else:
        print(err)
        exit(1)

In [6]:
print(cnx.database)  # add the name into the config file

StockMarketData

# Create a connection engine

In [7]:
# to modify the database we need to create a connection engine
connection_string = "mysql+pymysql://%s:%s@%s:%s/%s" % (config.USER, config.PASSWORD, config.HOST, config.PORT, config.db_NAME)
engine = create_engine(connection_string)
print(engine)

Engine(mysql+pymysql://admin:***@database-1.cjhx4yysfuzh.us-east-1.rds.amazonaws.com:3306/StockMarketData)

# Insert data into a database

In [ ]:
#!pip install yahoofinancials

In [8]:
from yahoofinancials import YahooFinancials

ticker = 'AAPL'
yahoo_fin = YahooFinancials(ticker)

historical_stock_prices = yahoo_fin.get_historical_price_data('2022-01-15', '2022-01-30', 'daily')

In [9]:
close = []
date = []
volume = []

In [10]:
for i in range(len(historical_stock_prices['AAPL']['prices'])):
    close.append(historical_stock_prices['AAPL']['prices'][i]['close'])
    date.append(historical_stock_prices['AAPL']['prices'][i]['formatted_date'])
    volume.append(historical_stock_prices['AAPL']['prices'][i]['volume'])

In [11]:
apple = {'date':date, 'close': close, 'Volume':volume}

In [12]:
appl_df = pd.DataFrame(apple)

In [13]:
appl_df.head(2)

         date       close    Volume
0  2022-01-18  169.800003  90956700
1  2022-01-19  166.229996  94815000

In [14]:
appl_df.to_sql('StockMarketData', con=engine, if_exists='append')

In [15]:
cnx.commit()

In [16]:
sql ='use StockMarketData'
cursor.execute(sql)

In [17]:
sql ='show tables '

cursor.execute(sql)

In [18]:
sql = sql ='select * from StockMarketData '

cursor.execute(sql)

In [19]:
cursor.fetchall()

[(0, '2022-01-18', 169.8000030517578, 90956700),
 (1, '2022-01-19', 166.22999572753906, 94815000),
 (2, '2022-01-20', 164.50999450683594, 91420500),
 (3, '2022-01-21', 162.41000366210938, 122848900),
 (4, '2022-01-24', 161.6199951171875, 162294600),
 (5, '2022-01-25', 159.77999877929688, 115798400),
 (6, '2022-01-26', 159.69000244140625, 108275300),
 (7, '2022-01-27', 159.22000122070312, 121954600),
 (8, '2022-01-28', 170.3300018310547, 179935700),
 (0, '2022-01-18', 169.8000030517578, 90956700),
 (1, '2022-01-19', 166.22999572753906, 94815000),
 (2, '2022-01-20', 164.50999450683594, 91420500),
 (3, '2022-01-21', 162.41000366210938, 122848900),
 (4, '2022-01-24', 161.6199951171875, 162294600),
 (5, '2022-01-25', 159.77999877929688, 115798400),
 (6, '2022-01-26', 159.69000244140625, 108275300),
 (7, '2022-01-27', 159.22000122070312, 121954600),
 (8, '2022-01-28', 170.3300018310547, 179935700),
 (0, '2022-01-18', 169.8000030517578, 90956700),
 (1, '2022-01-19', 166.22999572753906, 94815000),
 (2, '2022-01-20', 164.50999450683594, 91420500),
 (3, '2022-01-21', 162.41000366210938, 122848900),
 (4, '2022-01-24', 161.6199951171875, 162294600),
 (5, '2022-01-25', 159.77999877929688, 115798400),
 (6, '2022-01-26', 159.69000244140625, 108275300),
 (7, '2022-01-27', 159.22000122070312, 121954600),
 (8, '2022-01-28', 170.3300018310547, 179935700),
 (0, '2022-01-18', 169.8000030517578, 90956700),
 (1, '2022-01-19', 166.22999572753906, 94815000),
 (2, '2022-01-20', 164.50999450683594, 91420500),
 (3, '2022-01-21', 162.41000366210938, 122848900),
 (4, '2022-01-24', 161.6199951171875, 162294600),
 (5, '2022-01-25', 159.77999877929688, 115798400),
 (6, '2022-01-26', 159.69000244140625, 108275300),
 (7, '2022-01-27', 159.22000122070312, 121954600),
 (8, '2022-01-28', 170.3300018310547, 179935700),
 (0, '2022-01-18', 169.8000030517578, 90956700),
 (1, '2022-01-19', 166.22999572753906, 94815000),
 (2, '2022-01-20', 164.50999450683594, 91420500),
 (3, '2022-01-21', 162.41000366210938, 122848900),
 (4, '2022-01-24', 161.6199951171875, 162294600),
 (5, '2022-01-25', 159.77999877929688, 115798400),
 (6, '2022-01-26', 159.69000244140625, 108275300),
 (7, '2022-01-27', 159.22000122070312, 121954600),
 (8, '2022-01-28', 170.3300018310547, 179935700),
 (0, '2022-01-18', 169.8000030517578, 90956700),
 (1, '2022-01-19', 166.22999572753906, 94815000),
 (2, '2022-01-20', 164.50999450683594, 91420500),
 (3, '2022-01-21', 162.41000366210938, 122848900),
 (4, '2022-01-24', 161.6199951171875, 162294600),
 (5, '2022-01-25', 159.77999877929688, 115798400),
 (6, '2022-01-26', 159.69000244140625, 108275300),
 (7, '2022-01-27', 159.22000122070312, 121954600),
 (8, '2022-01-28', 170.3300018310547, 179935700)]